.loginHint{
  text-align: right;
}

.button{
  display: inline-block;
  height: .6rem;
  line-height: .6rem;
  font-size: .2rem;
  padding: 0 .3rem;
  background: #f69230;
  border-radius: .08rem;
  color: #fff;
  cursor: pointer;
}

.tooltip{
  padding: .1rem .15rem;
}