@import "../_base.scss";
.header {
  width: 100%;
  background: linear-gradient(to right,#7358c2,#26b4b4)
}

.headerCont{
  position: relative;
  height: 4rem;
  line-height: 4rem;
  font-size: 0.7rem;
}
.headerLogo{
  position: absolute;
  top: .3rem;
}
.headerPic{
  position: absolute;
  bottom: .4rem;
  right:0;
}

.headerText{
  color: #fff;
  font-weight: 700;
}