.ruleTitle{
  text-align: center;
  height: .6rem;
  line-height: .6rem;
  font-size: .26rem;
  font-weight: bold;
  background: rgb(183, 241, 241);
  border-radius: 8px 8px 0 0 ;
}

.ruleContent{
  padding: .3rem;
  font-size: .16rem;
  background: #fff;
  >p {
    line-height: 1.5;
  }
}