.rule {
  position: relative;
}
.ruleTitle {
  text-align: center;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.26rem;
  font-weight: bold;
  background: rgb(183, 241, 241);
  border-radius: 8px 8px 0 0;
}

.ruleContent {
  padding: 0.3rem 0.7rem 0.3rem 0.3rem;
  font-size: 0.16rem;
  background: #fff;
  > p {
    line-height: 1.5;
  }
}

.ruleMore {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
}
