.loginHint {
  text-align: right;
}

.button {
  display: inline-block;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.2rem;
  padding: 0 0.3rem;
  background: #f69230;
  border-radius: 0.08rem;
  color: #fff;
  cursor: pointer;
}

.tooltip {
  padding: 0.1rem 0.15rem;
}
