@import "./base";

.modal {
  :global {
    .ant-modal-body {
      font-size: 0.16rem;
      min-height: 0.6rem;
      padding: 0.3rem;
      color: #fff;
      background: rgba(0, 0, 0, 0.75);
      border-radius: $border-radius-1;
      text-align: center;
    }
    .ant-modal-close .ant-modal-close-icon svg {
      fill: rgba(255, 255, 255, 0.85);
    }
  }
}

.countDown {
  line-height: 1;
  :global {
    .ant-statistic-content {
      font-size: 0.14rem;
      color: #fff;
    }
  }
}

.countDownNew {
  font-family: Tahoma, "Helvetica Neue", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  // min-width: .7rem;
  // text-align: center;
}
